@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body
{
	font-family: "Inter", sans-serif;
	font-size: 16px;
	color: #7f7f7f;
	margin: 0
}
h1,h2,h3,h4
{
	 font-family: "Playfair Display", serif;
	color: #000000
}
*{ box-sizing: border-box}
.row
{
	display: flex; /* day cac box ben trong row len canh nhau*/
	flex-wrap: wrap /*-- khi du 100%, se day box ke theo xuong hang*/
}
.container{	width: 100%	}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {

  padding: 15px;
  /*border: 1px solid red;*/
}


/* vung code cho tablet*/
@media (min-width:768px){
	.container{	
		width: 80%;
		margin: auto/* de box container nam giua man hinh*/
	}
	.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
	
}
/*code cho desktop tu 1024 tro di*/
@media (min-width:992px){
	.container{	
		width: 90%;
		margin: auto/* de box container nam giua man hinh*/
	}
	.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}
}
nav .container
{
	position: relative;
	
}
#btn-toggle
{
	position: absolute;
	right:0; top: 10px;
	background: none;
	border: none;
	cursor:pointer;
	color:tomato;
	display: block
	}
nav .menu ul
{ 
	margin: 0;
	padding: 0;
	list-style: none
}
nav .menu ul li
{
	border-bottom: 1px dotted #666
}
nav .menu ul li a
{
	color: #333; 
	text-decoration:none;
	padding:10px 16px ;	
	display: block
}
nav .menu ul li a:hover{
	background:gold;
}
nav .icon-menu a
{
	padding: 10px; 
	display: inline-block;
	text-decoration: none; color: #666
}
nav .icon-menu a:hover
{
	background: tomato;
	border-radius: 5px 20px;
	color: white
}
/*nav .menu, nav .icon-menu{ display: none}*/

@media (min-width:992px)
{
	#btn-toggle{ display: none}
	nav .menu, nav .icon-menu{ display: block !important}
	nav .container, nav .menu ul{
		display: flex;
		justify-content: space-between;
		align-items: center}
	nav .menu ul li
	{
	border-bottom:none;
	position: relative
	}
}

/*-- style cho dropdown menu----*/
nav .menu .dropdown-menu
{
	background: #eee; 
	display: none
}
@media (min-width:992px)
{
		nav .menu .dropdown-menu
	{
		position: absolute; 
		left: 0; 
		top: 250%;
		flex-direction: column;
		width: 200px;		
		border-top: tomato 2px solid;
		transition: all .5s;
		visibility: hidden;
		opacity: 0
		}

nav .menu ul li:hover >.dropdown-menu
{
	top:100%;
	visibility: visible;
	opacity: 1
}
}
.banner
{ 
	width: 100%;
	max-height: 800px;
	background-color: #EFEFEF
}
.img-100 
{ 
	width: 100%; 
	height: auto
}
.banner .row, .cover .row{
	align-items:center; 
	justify-content: space-between
}
.text-primary{ color: green}
.text-light{ color: #fff}
.flex-nguoc-ngang{
	flex-direction: row-reverse
}
.nav2{ 
	width: 80%; 
	background-color: rgba(255,255,255,1);
	border-radius: 60px; 
	padding: 10px
}
.fixed-top{ position: fixed; left: 10%; top: 15px; z-index: 99999}
.cover{ position: relative}
.cover .container
{
	width: 80%; margin: auto;
	position: absolute;
	top: 20%;
	left: 10%
}
.btn-outline-primary
{
	border: 2px solid #C55459;
	background-color: transparent;
	padding: 10px 20px;
	border-radius: 50px;
	color: #fff;
	cursor: pointer
}
.btn-outline-primary:hover
{
	background-color: #C55459;
}
.btn-primary
{
	border: none;
	background-color: #C55459;
	border: 2px solid #C55459;
	padding: 10px 20px;
	border-radius: 50px;
	color: #fff;
	cursor: pointer
}
.btn-primary:hover{
	background-color: #fff;color: #C55459;
	border: 2px solid #fff;
}

#about .container {
    display: flex;
    justify-content: center;
}

#about .card {
    text-align: center;
}

#about .card img {
    max-width: 100%;
    height: auto;
}

/* Footer Content */
#footer-content {
    background-color:lemonchiffon; /* Màu nền cho phần nội dung cuối */
    padding: 30px 0;
}

#footer-content .col-md-6 {
    margin-bottom: 20px;
}

#footer-content h2 {
    color:darkblue;
}

#footer-content p {
    color:w;
}

